<div id="overlay">
  <div id="text">
    <span>
      Change Password for: <span id="full_name">Barry Allen</span> <br>
      Username: <span id="username">flash</span><br>
      New Password: <input id="password" type="password"/> <br>
      <button class="cancel" onclick="hideOverlay()">Close</button>
      <button id="change_password" class="change_password">Submit</button>
    </span>
    <div id="message"></div>
  </div>
</div>