<% provide(:title, 'User List') %>
<h1>User List</h1>
<% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
    <br>
<% end %>

<table class="table table-striped table-bordered">
  <thead class="thead-inverse">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Username</td>
    <td>Role(s)</td>
    <% if @can_edit %><td>Action(s)</td> <% end %>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.username %></td>
        <td><%= user.roles.map{|u| u.name.capitalize}.join(',') %></td>
        <% if @can_edit %>
        <td><button onclick="showOverlay(<%= + "'"+ user.first_name + "','" + user.last_name + "','" + user.username + "'" %>)">Change Password</button></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'edit' %>