.btn {
  margin-top: 5px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  line-height: 30px;
  font-size: 20px;
  padding: 12px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

  span {
    display: inline-table;
  }

  button {
    margin-top: 10px;
  }

  .cancel {
    float: left;
  }

  .change_password {
    float: right;
  }
}