<footer class="footer">
  <small>
    The <a href="#">User Directory App</a>
    by <a href="http://dave-christensen.com/">David Christensen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
