<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'User Directory', '#', id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li><%= link_to 'Users',   '/users' %></li>
            <li><%= link_to 'Logout', '/logout' %></li>
        <% end %>
        <% unless logged_in? %>
            <li><%= link_to 'Login', '/login' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>